<a href="https://colab.research.google.com/github/pennapha12/Python_dataviz2024/blob/main/Function_Loop_Condition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Function

In [ ]:
inp = '12:30:15 - 13:41:07'
inp_list = inp.split(' - ')
inp_list

['12:30:15', '13:41:07']

## Function template
#### ทำหน้าที่รับ input มาประมวณผลออกมาเป็น output
#### f(x) = y

### def คือการกำหนดฟังก์ชัน


backtick (`) ==> กด ~ ค้าง, alt - 9>6 (full keyboard with number)

tilde (~)

curly bracket ({ })

square bracket ([ ])

```python
    def function_name(_Input_) :
        do_something with _Input_ to get _Output_
        return _Output_
```

function มีส่วนสำคัญทั้งหมด 4 ส่วน

1.   บอก python ว่าเราจะเขียนฟังก์ชั่น ชื่ออะไร  ```def function_name():``` (ขาดไม่ได้)
2.   กำหนดตัวแปรที่จะเป็น input  ```_Input_``` (ขาดได้)
3.   ส่วนประมวลผล ```do_something with _Input_ to get _Output_``` (ขาดไม่ได้)
4.   ส่วน output ```return _Output_```(ขาดได้)

#### ตัวอย่างการเขียน normal function

In [ ]:
def print_myname():
    print('Pennapha')
    #function mo input , no output

In [ ]:
def print_name(surname,ID,name): #ตัวอย่าง  function ทีมี input , output ตัวเดียว
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    return st

In [ ]:
print_name('แก้วมูลเมือง','653020215-8','เพ็ญนภา') #print โดยไม่กำหนดตำแหน่ง

'ชื่อ เพ็ญนภา นามสกุล แก้วมูลเมือง รหัส 653020215-8'

In [ ]:
print(print_name(name='เพ็ญนภา',surname='แก้วมูลเมือง',ID='653020215-8'))
#print โดยกำหนดค่าว่าตัวแปรแต่ละตัวคืออะไร

ชื่อ เพ็ญนภา นามสกุล แก้วมูลเมือง รหัส 653020215-8

เราใช้ เว้นวรรค (indent) เพื่อบอกขอบเขตของโปรแกรม

ฟังก์ชั่นไม่จำเป็นต้องมี output

In [ ]:
def print_name2(surname,ID,name):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print(st)

In [ ]:
out_printname1=print_name(name='เพ็ญนภา',surname='แก้วมูลเมือง',ID='653020215-8')

In [ ]:
print(out_printname1) #มี output

ชื่อ เพ็ญนภา นามสกุล แก้วมูลเมือง รหัส 653020215-8

In [ ]:
out_printname2=print_name2(name='เพ็ญนภา',surname='แก้วมูลเมือง',ID='653020215-8')

ชื่อ เพ็ญนภา นามสกุล แก้วมูลเมือง รหัส 653020215-8

In [ ]:
print(out_printname2) #ไม่มี output ไม่ได้ return

None

In [ ]:
out_printname1

'ชื่อ เพ็ญนภา นามสกุล แก้วมูลเมือง รหัส 653020215-8'

In [ ]:
out_printname2

-------------------------------------------------

In [ ]:
print_name2(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

ฟังก์ชั่นไม่จำเป็นต้องมี input

In [ ]:
def Pi():
    return 3.14159265359
    #funtion ที่ไม่มี input

In [ ]:
Pi()*(2**2) # หาพื้นที่ของวงกลมที่มีรัศมีเท่ากับ 2  Pi * r^2

12.56637061436

## เราสามารถกำหนดค่า default ให้กับฟังก์ชั่นได้

input ของ function ใน python มีสองแบบ input ที่จำเป็นต้องใส่ กับ input ที่ไม่จำเป็นต้องใส่ (มีค่า default)

เราต้องเรียง input ที่จำเป็นต้องใส่ขึ้นก่อน

เราสามารถกำหนดค่า defaul ให้กับ input ของ function ได้

In [ ]:
def print_2lines_default(name,surname,ID,grade='F'): #ค่า defa
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print (st)
    st2=f'เกรดวิชา Data Viz >>> {grade}'
    print(st2)
    #ค่า default คือค่าที่ตั้งไว้เป็นค่าเริ่มต้น ถ้าไม่มีการกรอกข้อมูลมาจะใส่เป็นค่า default

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> F

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8','A')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> A

#Quiz3 เขียน function ที่รับ input 1 ตัว ตาม Format hh1:mm1:ss1-hh2:mm2:ss2 และคำนวณหา ช่วงเวลาเป็นช่วงเวลาเป็นวินาที ที่ห่างกันระหว่าง t1 และ t2

In [ ]:
inp = '12:30:15 - 13:41:07'
inp_list = inp.split(' - ')
inp_list

['12:30:15', '13:41:07']

In [ ]:
def print_diff_time (t1,t2):
  t1=t1.split('-')
  t2=t2.split('-')
  t1.seconds = int(h) * 3600 + int(m) * 60 + int(s)
  t2.seconds = int(h) * 3600 + int(m) * 60 + int(s)
  diff_seconds = t2.seconds - t1.seconds
  print(diff_seconds)

In [ ]:
def cal_dif_secs(timeinput) :
  time_list = timeinput.split('-')
  t1 = time_list[0].split(':')
  t2 = time_list[1].split(':')
  t1.seconds = int(t1[0]*3600+int(t1[1])*60+int(t1[2]))
  t2.seconds = int(t2[0]*3600+int(t2[1])*60+int(t2[2]))
  diff_seconds = t2.seconds - t1.seconds
  return diff_seconds
  #เฉลย

#Quiz3.5
รับ input 2ตัว และ ตั้งค่า  default  time 1 เป็น 00:00:00

In [ ]:
def diff_secs(time1='00:00:00',time2) :
  time2=time2.split('-')
  time1=time1.split(':')
  time2=time2.split(':')
  time1.seconds = int(h) * 3600 + int(m) * 60 + int(s)
  time2.seconds = int(h) * 3600 + int(m) * 60 + int(s)
  diff_seconds = time2.seconds - time1.seconds
  return diff_seconds

#HW2
วนลูป หา ช่วงเวลาเป็นวินาที ที่ห่างกันระหว่าง time1 และ time2 ต่อไปนี้

1. 18:09:10 - 18:25:10
2. 13:38:39 - 23:54:39
3. 16:49:58 - 18:05:58
4. 21:49:10 - 22:24:10
5. 08:52:21 - 09:25:21
6. 06:56:26 - 07:49:26
7. 12:08:05 - 12:43:05
8. 01:48:38 - 07:18:38
9. 08:51:21 - 10:17:21
10. 17:05:17 - 18:09:17

In [ ]:
#1.function for tranfrom time to seconds
def tranfrom_to_seconds(time_str):
    h, m, s = time_str.split(":")
    h = int(h)
    m = int(m)
    s = int(s)
    return h * 3600 + m * 60 + s

#2. function for calculate diff time
def diff_seconds_time(time2, time1):
    return time2 - time1

#3. function for cal time in seconds
def cal_seconds(time_str):
    time_list = time_str.split(" - ") #แยกเวลา ด้วย split
    time1 = tranfrom_to_seconds(time_list[0]) #เรียกใช้ function "tranfrom_to_seconds"
    time2 = tranfrom_to_seconds(time_list[1])
    result = diff_seconds_time(time2, time1) #เรียกใช้ function "diff_seconds_time"
    return time1, time2, result

#4.create time list
Time_list = [
    "18:09:10 - 18:25:10",
    "13:38:39 - 23:54:39",
    "16:49:58 - 18:05:58",
    "21:49:10 - 22:24:10",
    "08:52:21 - 09:25:21",
    "06:56:26 - 07:49:26",
    "12:08:05 - 12:43:05",
    "01:48:38 - 07:18:38",
    "08:51:21 - 10:17:21",
    "17:05:17 - 18:09:17",
]

#5.เรียกใช้และแสดงผล
result = [cal_seconds(period) for period in Time_list] #result ย่อเป็น res
#period เป็นการวนลูป
for res in result:
    print(f"Start: {res[0]} seconds\n End: {res[1]} seconds\n Difference for Time2-Time : {res[2]} seconds")

Start: 65350 seconds
 End: 66310 seconds
 Difference for Time2-Time : 960 seconds
Start: 49119 seconds
 End: 86079 seconds
 Difference for Time2-Time : 36960 seconds
Start: 60598 seconds
 End: 65158 seconds
 Difference for Time2-Time : 4560 seconds
Start: 78550 seconds
 End: 80650 seconds
 Difference for Time2-Time : 2100 seconds
Start: 31941 seconds
 End: 33921 seconds
 Difference for Time2-Time : 1980 seconds
Start: 24986 seconds
 End: 28166 seconds
 Difference for Time2-Time : 3180 seconds
Start: 43685 seconds
 End: 45785 seconds
 Difference for Time2-Time : 2100 seconds
Start: 6518 seconds
 End: 26318 seconds
 Difference for Time2-Time : 19800 seconds
Start: 31881 seconds
 End: 37041 seconds
 Difference for Time2-Time : 5160 seconds
Start: 61517 seconds
 End: 65357 seconds
 Difference for Time2-Time : 3840 seconds

# LOOP การวนซ้ำ

for เป็นคำที่ใช้บอก python ว่าเรากำลังเขียน loop
โดย for จะวนดึงสมาชิกจาก ```listA``` มาทำ process ```do_something```

```python
    for each_member in listA :
        do_something
```

#### คำสั่ง for เป็นคำสั่งวนซ้ำที่ใช้ควบคุมการทำงานซ้ำๆ ในจำนวนรอบที่แน่นอน

In [ ]:
for i in [1,2,3] :
    o = i**2
    print (f'this member = {i} after process = {o}')

this member = 1 after process = 1
this member = 2 after process = 4
this member = 3 after process = 9

# จบวันที่ 7 มค 2564

#### ตัวอย่างการใช้คำสั่ง for ในการวนซ้ำค่าของ i เมื่อ i คือ 'Thanapong' และคำสั่ง print(f'{i} -> /') เพื่อกำหนดให้ผลลัพธ์แสดงสัญลักษณ์ -> /  จากนั้นเพิ่มคำสั่ง print(' ') อีกครั้งเพื่อให้ผลลัพธ์มีการเว้นวรรค¶

In [ ]:
for i in 'Thanapong':
    print(f'{i} -> / ' )

T -> /
h -> /
a -> /
n -> /
a -> /
p -> /
o -> /
n -> /
g -> /

In [ ]:
for i in 'Thanapong':
    print(f'{i} -> / ' ,end = '') #สั่งให้ print แบบ ไม่เว้นบรรทัด

T -> / h -> / a -> / n -> / a -> / p -> / o -> / n -> / g -> /

In [ ]:
for i in 'Thanapong':
    print(f'{i} -> / ' ,end = ',') #สั่งให้ print แบบ ไม่เว้นบรรทัด

T -> / ,h -> / ,a -> / ,n -> / ,a -> / ,p -> / ,o -> / ,n -> / ,g -> / ,

## สร้าง list ตัวเลขแบบอัตโนมัติ  range()

In [ ]:
range5_output = range(5)
print(list(range5_output))

[0, 1, 2, 3, 4]

In [ ]:
for i in range(100):
    print('งง',end=' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

In [ ]:
list(range(1,11)) #เริ่มต้นเป็นวงทึบ จบเป็นวงกลมโปร่ง เหมือน list slicing

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(range(-3,20,4))

[-3, 1, 5, 9, 13, 17]

### loop in loop
#### สามารถใช้ for loop ซ้อนกันสองรอบได้¶

In [ ]:
for name1 in  range(2,5): #(2, 3, 4)
    print(f'now name1 = {name1}')
    for name2 in  range(1,13):
        print(name1,' x ',name2,' = ',name1*name2)
    print('the inner loop is end')

now name1 = 2
2  x  1  =  2
2  x  2  =  4
2  x  3  =  6
2  x  4  =  8
2  x  5  =  10
2  x  6  =  12
2  x  7  =  14
2  x  8  =  16
2  x  9  =  18
2  x  10  =  20
2  x  11  =  22
2  x  12  =  24
the inner loop is end
now name1 = 3
3  x  1  =  3
3  x  2  =  6
3  x  3  =  9
3  x  4  =  12
3  x  5  =  15
3  x  6  =  18
3  x  7  =  21
3  x  8  =  24
3  x  9  =  27
3  x  10  =  30
3  x  11  =  33
3  x  12  =  36
the inner loop is end
now name1 = 4
4  x  1  =  4
4  x  2  =  8
4  x  3  =  12
4  x  4  =  16
4  x  5  =  20
4  x  6  =  24
4  x  7  =  28
4  x  8  =  32
4  x  9  =  36
4  x  10  =  40
4  x  11  =  44
4  x  12  =  48
the inner loop is end

### loop in function
#### การวนลูปในฟังก์ชั่น¶

In [ ]:
def print_feelings(I,friendS,feeling = 'คิดถึง'):
    for friend in friendS:
        print(f'{I} {feeling} {friend}')

In [ ]:
list_friends = ['พี่บูม','ดายน์','แตงโม','ฝน','พี่เจ็ท','น้องแคมป์']

In [ ]:
print_feelings('เจมส์',list_friends)

เจมส์ คิดถึง พี่บูม
เจมส์ คิดถึง ดายน์
เจมส์ คิดถึง แตงโม
เจมส์ คิดถึง ฝน
เจมส์ คิดถึง พี่เจ็ท
เจมส์ คิดถึง น้องแคมป์

In [ ]:
print_feelings('เจมส์',list_friends,feeling='รัก')

เจมส์ รัก พี่บูม
เจมส์ รัก ดายน์
เจมส์ รัก แตงโม
เจมส์ รัก ฝน
เจมส์ รัก พี่เจ็ท
เจมส์ รัก น้องแคมป์

In [ ]:
print_feelings('เจมส์',list_friends,'รัก')

เจมส์ รัก พี่บูม
เจมส์ รัก ดายน์
เจมส์ รัก แตงโม
เจมส์ รัก ฝน
เจมส์ รัก พี่เจ็ท
เจมส์ รัก น้องแคมป์

### looping in dict
#### ทำการวนลูปในค่า dict โดยที่เรากำหนดตัว key และvalueขึ้นมา ได้ดังนี้

In [ ]:
name_grade = {'พันทิพา' : 'B','ศุภนิตา' : 'C','ปนัดดา' : 'A','ทรงกลด' : 'F'}
name_grade

{'พันทิพา': 'B', 'ศุภนิตา': 'C', 'ปนัดดา': 'A', 'ทรงกลด': 'F'}

In [ ]:
name_grade['ปนัดดา']

'A'

In [ ]:
for i in name_grade.keys():
    print(i)

พันทิพา
ศุภนิตา
ปนัดดา
ทรงกลด

In [ ]:
name_grade.keys()

dict_keys(['พันทิพา', 'ศุภนิตา', 'ปนัดดา', 'ทรงกลด'])

In [ ]:
for i in name_grade.keys():
    print(f'{i} ได้เกรด {name_grade[i]}')

พันทิพา ได้เกรด B
ศุภนิตา ได้เกรด C
ปนัดดา ได้เกรด A
ทรงกลด ได้เกรด F

### conditional คือ เงื่อนไข /ประโยคเงื่อนไข

##### True / False
##### การวนลูปโดยมีเงื่อนไขต่างๆมาเกี่ยวข้อง โดยมี pattern ดังนี้

```Python
if condition1 :
    do something
elif condition2 :  #elif คือ else if
    do another thing
else:
    do ...
```

In [ ]:
print(list_friends)

['พี่บูม', 'ดายน์', 'แตงโม', 'ฝน', 'พี่เจ็ท', 'น้องแคมป์']

In [ ]:
for name1 in list_friends :
    for name2 in list_friends :
            print(name1,'รัก',name2)

พี่บูม รัก พี่บูม
พี่บูม รัก ดายน์
พี่บูม รัก แตงโม
พี่บูม รัก ฝน
พี่บูม รัก พี่เจ็ท
พี่บูม รัก น้องแคมป์
ดายน์ รัก พี่บูม
ดายน์ รัก ดายน์
ดายน์ รัก แตงโม
ดายน์ รัก ฝน
ดายน์ รัก พี่เจ็ท
ดายน์ รัก น้องแคมป์
แตงโม รัก พี่บูม
แตงโม รัก ดายน์
แตงโม รัก แตงโม
แตงโม รัก ฝน
แตงโม รัก พี่เจ็ท
แตงโม รัก น้องแคมป์
ฝน รัก พี่บูม
ฝน รัก ดายน์
ฝน รัก แตงโม
ฝน รัก ฝน
ฝน รัก พี่เจ็ท
ฝน รัก น้องแคมป์
พี่เจ็ท รัก พี่บูม
พี่เจ็ท รัก ดายน์
พี่เจ็ท รัก แตงโม
พี่เจ็ท รัก ฝน
พี่เจ็ท รัก พี่เจ็ท
พี่เจ็ท รัก น้องแคมป์
น้องแคมป์ รัก พี่บูม
น้องแคมป์ รัก ดายน์
น้องแคมป์ รัก แตงโม
น้องแคมป์ รัก ฝน
น้องแคมป์ รัก พี่เจ็ท
น้องแคมป์ รัก น้องแคมป์

In [ ]:
for name1 in list_friends:
    for name2 in list_friends:
        if name1 != name2: #ไม่ปริ้นชื่อคนเดียวกันซ้ำ
            print(name1,'รัก',name2)

พี่บูม รัก ดายน์
พี่บูม รัก แตงโม
พี่บูม รัก ฝน
พี่บูม รัก พี่เจ็ท
พี่บูม รัก น้องแคมป์
ดายน์ รัก พี่บูม
ดายน์ รัก แตงโม
ดายน์ รัก ฝน
ดายน์ รัก พี่เจ็ท
ดายน์ รัก น้องแคมป์
แตงโม รัก พี่บูม
แตงโม รัก ดายน์
แตงโม รัก ฝน
แตงโม รัก พี่เจ็ท
แตงโม รัก น้องแคมป์
ฝน รัก พี่บูม
ฝน รัก ดายน์
ฝน รัก แตงโม
ฝน รัก พี่เจ็ท
ฝน รัก น้องแคมป์
พี่เจ็ท รัก พี่บูม
พี่เจ็ท รัก ดายน์
พี่เจ็ท รัก แตงโม
พี่เจ็ท รัก ฝน
พี่เจ็ท รัก น้องแคมป์
น้องแคมป์ รัก พี่บูม
น้องแคมป์ รัก ดายน์
น้องแคมป์ รัก แตงโม
น้องแคมป์ รัก ฝน
น้องแคมป์ รัก พี่เจ็ท

In [ ]:
for name1 in list_friends:
    for name2 in list_friends:
        if name1 == name2: #ปริ้นชื่อคนเดียวกันซ้ำ
            print(name1,'รัก',name2)

พี่บูม รัก พี่บูม
ดายน์ รัก ดายน์
แตงโม รัก แตงโม
ฝน รัก ฝน
พี่เจ็ท รัก พี่เจ็ท
น้องแคมป์ รัก น้องแคมป์

In [ ]:
for name1 in list_friends:
    for name2 in list_friends:
        if name1 == name2:
            'do nothing'
        else:
            print(name1,'รัก',name2)

พี่บูม รัก ดายน์
พี่บูม รัก แตงโม
พี่บูม รัก ฝน
พี่บูม รัก พี่เจ็ท
พี่บูม รัก น้องแคมป์
ดายน์ รัก พี่บูม
ดายน์ รัก แตงโม
ดายน์ รัก ฝน
ดายน์ รัก พี่เจ็ท
ดายน์ รัก น้องแคมป์
แตงโม รัก พี่บูม
แตงโม รัก ดายน์
แตงโม รัก ฝน
แตงโม รัก พี่เจ็ท
แตงโม รัก น้องแคมป์
ฝน รัก พี่บูม
ฝน รัก ดายน์
ฝน รัก แตงโม
ฝน รัก พี่เจ็ท
ฝน รัก น้องแคมป์
พี่เจ็ท รัก พี่บูม
พี่เจ็ท รัก ดายน์
พี่เจ็ท รัก แตงโม
พี่เจ็ท รัก ฝน
พี่เจ็ท รัก น้องแคมป์
น้องแคมป์ รัก พี่บูม
น้องแคมป์ รัก ดายน์
น้องแคมป์ รัก แตงโม
น้องแคมป์ รัก ฝน
น้องแคมป์ รัก พี่เจ็ท

#### ==, !=,>=,<=,<,>

In [ ]:
'พี่บูม' == 'พี่เจ็ท'

False

In [ ]:
'พี่บูม' != 'พี่เจ็ท'

True

#### หากหลังเงื่อนไข True ถูกต้องจะทำการ print ข้อความออกมาว่า Yes

In [ ]:
if True:
    print('Yes')

Yes

In [ ]:
if False:
    print('No')

#### หากหลังเงื่อนไข False ไม่ถูกต้องจะไม่ปริ้นข้อความใดๆออกมา
#### ซึ่งจะต้องใช้เงื่อนไขนี้ จึงจะได้ปริ้นค่าเงื่อนไขนั้นออกมา ดังนี้

In [ ]:
if False:
    print('Yes')
else:
    print('No')

No

#HW3
ฟังก์ชันแปลงวินาทีกลับมาเป็นชั่วโมง นาที วินาที โดยไม่ใช้ฟังก์ชันช่วยเหลืออื่น ๆ ของ python ส่วนของชั่ว โมง นาที วินาทีเป็นศูนย์ไม้่ต้องแสดง

In [1]:
#1.function for tranfrom time to seconds
def tranfrom_to_seconds(time_str):
    h, m, s = time_str.split(":")
    h = int(h)
    m = int(m)
    s = int(s)
    return h * 3600 + m * 60 + s

#2. function for calculate diff time
def diff_seconds_time(time2, time1):
    return time2 - time1

#3. function for cal time in seconds
def cal_seconds(time_str):
    time_list = time_str.split(" - ") #แยกเวลา ด้วย split
    time1 = tranfrom_to_seconds(time_list[0]) #เรียกใช้ function "tranfrom_to_seconds"
    time2 = tranfrom_to_seconds(time_list[1])
    result = diff_seconds_time(time2, time1) #เรียกใช้ function "diff_seconds_time"
    return time1, time2, result

#4.create time list
Time_list = [
    "18:09:10 - 18:25:10",
    "13:38:39 - 23:54:39",
    "16:49:58 - 18:05:58",
    "21:49:10 - 22:24:10",
    "08:52:21 - 09:25:21",
    "06:56:26 - 07:49:26",
    "12:08:05 - 12:43:05",
    "01:48:38 - 07:18:38",
    "08:51:21 - 10:17:21",
    "17:05:17 - 18:09:17",
]

#5.เรียกใช้และแสดงผล
result = [cal_seconds(period) for period in Time_list] #result ย่อเป็น res
#period เป็นการวนลูป
for res in result:
    print(f"Start: {res[0]} seconds\n End: {res[1]} seconds\n Difference for Time2-Time : {res[2]} seconds")

Start: 65350 seconds
 End: 66310 seconds
 Difference for Time2-Time : 960 seconds
Start: 49119 seconds
 End: 86079 seconds
 Difference for Time2-Time : 36960 seconds
Start: 60598 seconds
 End: 65158 seconds
 Difference for Time2-Time : 4560 seconds
Start: 78550 seconds
 End: 80650 seconds
 Difference for Time2-Time : 2100 seconds
Start: 31941 seconds
 End: 33921 seconds
 Difference for Time2-Time : 1980 seconds
Start: 24986 seconds
 End: 28166 seconds
 Difference for Time2-Time : 3180 seconds
Start: 43685 seconds
 End: 45785 seconds
 Difference for Time2-Time : 2100 seconds
Start: 6518 seconds
 End: 26318 seconds
 Difference for Time2-Time : 19800 seconds
Start: 31881 seconds
 End: 37041 seconds
 Difference for Time2-Time : 5160 seconds
Start: 61517 seconds
 End: 65357 seconds
 Difference for Time2-Time : 3840 seconds

In [2]:
for i, res in enumerate(result): # enumerate แจกแจง
  print(res[2])

960
36960
4560
2100
1980
3180
2100
19800
5160
3840

In [3]:
# สร้างลิสต์เพื่อเก็บค่า res[2]
secound = []

# ใช้ enumerate เพื่อวนลูปผ่าน result พร้อมกับแสดงผลและเพิ่มค่า res[2] เข้าในลิสต์ secound
for i, res in enumerate(result):
    print(res[2])  # แสดงผลลัพธ์ที่ได้จาก res[2]
    secound.append(res[2])  # เพิ่มค่า res[2] เข้าในลิสต์ secound

960
36960
4560
2100
1980
3180
2100
19800
5160
3840

In [4]:
secound

[960, 36960, 4560, 2100, 1980, 3180, 2100, 19800, 5160, 3840]

In [28]:
def secound_to_time(seconds):
    h = seconds // 3600
    m = (seconds % 3600) // 60
    s = seconds % 60
    if h !=0:
      print(h,end=' hrs ')
    if m !=0:
      print(m,end=' mins ')
    if s !=0:
      print(s,end=' secs ')
    print()

In [30]:
for i in secound:
  secound_to_time(i)

16 mins
10 hrs 16 mins
1 hrs 16 mins
35 mins
33 mins
53 mins
35 mins
5 hrs 30 mins
1 hrs 26 mins
1 hrs 4 mins

# HW4
#### เขียน function ตัดเกรด โดยที่ input เป็นคะแนน(0-100) , output เป็นเกรด (F-A)
#### วนลูปตัดเกรด input = [1,50,65,90,101,-5,49]

##### กำหนด
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ  0  แต่น้อยกว่า 50 จะได้เกรด F
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 50 แต่น้อยกว่า 55 จะได้เกรด D
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 55 แต่น้อยกว่า 60 จะได้เกรด D+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 60 แต่น้อยกว่า 65 จะได้เกรด C
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 65 แต่น้อยกว่า 70 จะได้เกรด C+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 70 แต่น้อยกว่า 75 จะได้เกรด B
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 75 แต่น้อยกว่า 80 จะได้เกรด B+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 80  จะได้เกรด A
      แต่ว่าค่าคะแนนจะต้องไม่ต่ำกว่า 0 และมากกว่า 100 ไม่งั้นจะเกิด error

In [31]:
input = [1,50,65,90,101,-5,49]

In [54]:
def grade_score(score):
    if score >= 0 and score < 50:
        print('F')
    elif score >= 50 and score < 55:
        print('D')
    elif score >= 55 and score < 60:
        print('D+')
    elif score >= 60 and score < 65:
        print('C')
    elif score >= 65 and score < 70:
        print('C+')
    elif score >= 70 and score < 75:
        print('B')
    elif score >= 75 and score < 80:
        print('B+')
    elif score >= 80 and score <= 100:
        print('A')
    else:
        print('error')

In [55]:
for i in input:
  grade_score(i)

F
D
C+
A
error
error
F

# Finish

#Dictionary (Data Structure)
โครงสร้างข้อมูลที่จัดเก็บข้อมูล โดยอ้างอิงโดย text
เก็บอยู่ใน {} curly brackets

In [ ]:
Ex_dic_A={'MemberA':[1,2,3],'MemberB':8,'MemberC':'abc'}

In [ ]:
Ex_dic_A

{'MemberA': [1, 2, 3], 'MemberB': 8, 'MemberC': 'abc'}

In [ ]:
Ex_dic_A['MemberA'] #ชี้ไปที่ MemberA

[1, 2, 3]

In [ ]:
Ex_dic_A['MemberA'][1],Ex_dic_A['MemberB']

(2, 8)

In [ ]:
#เมื่อต้องการจะวนลูปใน dic จะต้องวนลุป List เท่านั้น ซึ่ง dic สามารถแยกออกมาได้เป็น 2 ส่วน คือ keys และ values
for i in Ex_dic_A.keys():
    print(i)

    #เวลาวนลูปจะวนลูปที่ Keys ด้วยการ เอาชื่อ dic มา .keys

MemberA
MemberB
MemberC

In [ ]:
for i in Ex_dic_A.values():
    print(i)

[1, 2, 3]
8
abc

In [ ]:
def time

In [ ]:
Time_list = [
    ["18:09:10 - 18:25:10"],
    ["13:38:39 - 23:54:39"],
    ["16:49:58 - 18:05:58"],
    ["21:49:10 - 22:24:10"],
    ["08:52:21 - 09:25:21"],
    ["06:56:26 - 07:49:26"],
    ["12:08:05 - 12:43:05"],
    ["01:48:38 - 07:18:38"],
    ["08:51:21 - 10:17:21"],
    ["17:05:17 - 18:09:17"],
]

In [ ]:
for time1,time2 in Time_list:
    if time_to_seconds(time1) < time_to_seconds(time2):
      diff_seconds =time_to_seconds(time2)-time_to_seconds(time1)
    else:
      diff_seconds =(time_to_seconds(time2)+(24*60*60))-time_to_seconds(time1)
        print(f'Time different between {time2}- {time1} is {diff_seconds} seconds')

IndentationError: unexpected indent (<ipython-input-21-95e843dd4933>, line 6)

In [ ]:
def return_nothing(x):
  x=x+1

In [ ]:
return_nothing(5)

In [ ]:
a=return_nothing(5)

In [ ]:
if a is None:
  print('x is None')

x is None